body {
    background-color: #f2f2f2;
    display: flex;
    background-image: url('home.jpg');
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(113, 145, 119, 0.6);
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.register-container {
    min-width: 300px;
    font-family: cursive;
    padding: 20px;
    background-color: #ffffffd1;
    box-shadow: 0 0 12px 5px rgb(0 0 0);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
}

form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
    margin-top: 25px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 90%;
    padding: 5px;
    margin: 5px;
    border: none;
    border-bottom: 2.5px solid;
    outline: none;
    background-color: #ffffff00;
    font-size: 19px;
    font-family: sans-serif;
}

button.register {
    background-color: #269b76;
    color: #fff;
    padding: 8px 16px;
    font-size: 22px;
    font-family: monospace;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    display: block;
    margin: 0 auto;
}

button.register:hover {
    background-color: #1e7e5e;
}

p.login-text {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

p.login-text button {
    border: none;
    color: #007500;
    cursor: pointer;
    font-size: 22px;
    background-color: #fff;
    padding: 10px 20px;
    font-family: monospace;
    border-radius: 5px;
}

p.login-text button:hover {
    background-color: #269b76;
    color: #fff;
}


ul.messages {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
    max-width: 300px;
}

ul.messages li {
    margin-bottom: 5px;
    font-size: 18px;
}


ul.messages li.error {
    color: red;
}


ul.messages li.success {
    color: #007500;
}


ul.messages li.info {
    color: #269b76;
}
